.bg__color {
  background: #fff5f6;
}
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .container {
    width: 320px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .about__label {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;

    color: #ffa5ba;
  }
  .about__title {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #d41443;
  }
  .about__reason {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;

    color: #907e82;
    &-bold {
      color: #000000;
    }
  }
  .about__img {
    width: 280px;
  }
}
